.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;    /* centra el contenedor */
  border: 2px solid red;
  justify-items: center;
}

.card {
  background: #4a90e2;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  height: 150px;
  max-width: 300px;
  width: 100%;
}
